In [1]:
import numpy as np 
import pandas as pd 
import sys, requests, shutil, os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from matplotlib.pyplot import subplots

import glob
import warnings

import cv2

In [5]:

test_data=pd.read_csv('test.csv', index_col='id')
test_data.head()

Empty DataFrame
Columns: []
Index: [00016575233bc956, 0001aadbcd8cb923, 0002c06b2440a5f9, 0002eb1ee5a5a6b2, 000594dad986513e]

In [17]:
test_data_path = './test-datasets/test/'
test_info =test_data.copy()
test_info['filename'] = ""
test_info.head()

                 filename
id
00016575233bc956
0001aadbcd8cb923
0002c06b2440a5f9
0002eb1ee5a5a6b2
000594dad986513e

In [18]:
count_tmp=0
for index, row in test_info.iterrows():
    f = test_data_path +index[0] +'/' +index[1] +'/'+index[2] +'/' + index + '.jpg'
    if os.path.isfile(f) == False:
        count_tmp += 1
    else:
        test_info.at[index,'filename'] = f
print("# of records not found: " + str(count_tmp))
test_info.head()

# of records not found: 0

                                                         filename
id
00016575233bc956  ./test-datasets/test/0/0/0/00016575233bc956.jpg
0001aadbcd8cb923  ./test-datasets/test/0/0/0/0001aadbcd8cb923.jpg
0002c06b2440a5f9  ./test-datasets/test/0/0/0/0002c06b2440a5f9.jpg
0002eb1ee5a5a6b2  ./test-datasets/test/0/0/0/0002eb1ee5a5a6b2.jpg
000594dad986513e  ./test-datasets/test/0/0/0/000594dad986513e.jpg

In [19]:
data_store = pd.HDFStore('processed_test_data.h5')
data_store['test_info'] = test_info
data_store.close()